/*
- Maxim Petrov 207467432
- Ben Nadav 315114090
- Gal Dahan 207232349
 */
.Home {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding-bottom: 30px;
    background-color: whitesmoke;
}

.Home h1 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 40px;
    font-weight: 800;
    font-family: Georgia, serif;
    color: #2eb0a6;
    font-weight: bold;
}

.form-container {
    margin: auto;
    width: 300px;
    padding: 30px 30px 30px 80px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border: 2px solid #6baaff;
    border-radius: 25px;
    background-color: #a5fdee;
    box-shadow: -10px 5px 10px 5px rgb(46, 176, 166);
}

.inputGroup {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.inputGroup label {
    font-size: 20px;
    font-weight: 500;
    font-family: Georgia, serif;
}

.inputGroup input, .inputGroup select, .inputGroup textarea {
    font-size: 100%;
    padding: 0.6em;
    font-style: italic;
    border: 2px solid rgb(46, 176, 166);
    background-color: white;
    border-radius: 15px;
}

.inputGroup :is(input:focus) {
    border-color: rgb(28, 77, 239);
}

.submit-cost {
    display: flex;
    padding: 20px 0;
}

.add-cost {
    padding: 1.5em 6em;
    font-size: 12px;
    font-family: Georgia, serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    color: black;
    background-color: white;
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.add-cost:hover {
    background-color: #2eb0a6;
    box-shadow: 0 15px 20px rgb(26, 131, 125);
    color: #fff;
    transform: translateY(-7px);
}

.add-cost:active {
    transform: translateY(-1px);
}

table {
    width: 90%; /* adjust as needed */
    border-collapse: collapse; /* remove the cell spacing */
    margin: 20px; /* add margin around the table */
    white-space: pre-wrap;
    background-color: white;
}
th{
    background-color: rgb(151, 248, 238);
    color: #1a837d;
    font-family: Georgia, serif;
    font-size: 18px;
}

th, td {
    border: 2px solid #1a837d; /* add a border to the cells */
    padding: 6px; /* add some padding to the cells */
    text-align: center; /* align the text to the left */
    font-family: Georgia, serif;
}

 /*Add hover effect to the rows*/
tr:hover {
    background-color: #f5f5f5;
}

.delete-button{
    background-color: rgba(4, 73, 255, 0.92);
    border: none;
    border-radius: 25px;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Georgia, serif;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
}
.delete-button:hover {
    background-color: red;
    color: #fff;
    transition: all 0.2s ease-in-out;
}


textarea{
    resize: none;
    height: 50px;
}
